@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
/* font-family: 'Roboto', sans-serif; Textes 
   font-family: 'Shrikhand', cursive; Logo et titres */

$font-primary : 'Shrikhand', cursive ;
$font-secondary : 'Roboto' , sans-serif ;
$color-primary : #9356DC ;
$color-secondary : #FF79DA ;
$color-tiertiary : #99E2D0 ;
$color-grey1 : rgb(236, 233, 233) ;
$color-grey2 : rgb(212, 209, 209) ;
$color-grey3 : rgb(248, 246, 246) ;
$color-grey4 : rgb(82, 80, 80) ;


body {
    font-family: $font-secondary;
    margin: 0;
}   

header{
    text-align: center;
    .logo {
        img {
            width: 160px; 
            margin-top: 20px; 
            margin-bottom: 10px;
        } 
    }
    .localisation {
        display: flex;
        padding: 0 110px;
        justify-content: space-around;
        background-color: $color-grey1;
        border-top: solid $color-grey2;
        &__ville , i {
            font-size: 15px;
            font-weight: bold;
            color: $color-grey4;
            margin: 0;
            padding: 15px 0px;

        }
    }
}

.presentation {
    background-color: $color-grey3 ;
    padding-bottom: 30px;
    &__titre {
        margin: 0;
        text-align: center;
        font-size: 22px;
        padding: 40px 60px; 
        padding-bottom: 10px;
    }
    &__description {
        text-align: center;
        font-size: 17px;
        color: $color-grey4 ;
        margin: 0;
    }
    &__bouton {
        text-align: center;
        margin: 30px;
        button {
            height: 50px; 
            padding: 0 20px;
            background: linear-gradient(-5deg, $color-primary 0%, $color-secondary 100%);
            color: white;
            font-size: 15px;
            font-family: $font-secondary;
            border-radius: 30px;
            border: none;
        }
    }
}

.fonctionnement {
    padding: 30px 20px;
    &__titre {
        font-size: 22px; 
    }
    &__rubrique {
        display: flex; 
        margin: 20px 0;
        .fonctionnement__numero {
            margin: 20px 0;
            padding: 4px 7px;
            font-size: 13px;
            color: white;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
        }
        .fonctionnement__details {
            display: flex;
            width: 100%;
            padding: 20px 0;
            border-radius: 20px;
            margin-left: 10px;
            background-color: $color-grey3 ;
            box-shadow: $color-grey2 3px 4px 9px 2px;
            font-weight: bold;
            i {
                padding: 0 30px;
                font-size: 20px;
                color: $color-grey4;
            }
            .IconeStore {
                color: $color-primary;
            }
        }
    }
}