.header {
    text-align: center;
    &__logo {
        img {
            width: 160px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
    &__location { 
        display: flex;
        justify-content: center;
        background-color: $color-grey1;
        border-top: solid $color-grey2;
        &:hover {
            cursor: pointer;
        }
        .fas {
            padding: 15px;
            padding-left: 0;
        }
        p {
            font-size: 15px;
            font-weight: bold;
            color: $color-grey4;
        }
    }   
}