$font-primary : 'Shrikhand', cursive ;
$font-secondary : 'Roboto' , sans-serif ;
$color-primary : #9356DC ;
$color-secondary : #FF79DA ;
$color-tiertiary : #99E2D0 ;
$color-grey1 : rgb(236, 233, 233) ;
$color-grey2 : rgb(212, 209, 209) ;
$color-grey3 : rgb(248, 246, 246) ;
$color-grey4 : rgb(82, 80, 80) ;
$color-grey5 : rgb(59, 58, 58) ;
$background : linear-gradient(-5deg, $color-primary 0%, $color-secondary 100%);
$shadow : rgb(212, 209, 209) 3px 4px 9px 2px;