.presentation__button {
    button {
        @include gradient-button ;
        margin-top: 10px;
    }
    button:hover {
        @include button-hover ;
    }
}

.menu__button {
    text-align: center;
    margin: 40px 0;
    button {
        width: 170px;
        @include gradient-button
    }
    :hover {
        @include button-hover
    }
}