@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* font-family: 'Roboto', sans-serif; Textes 
   font-family: 'Shrikhand', cursive; Logo et titres */
/* PAGE ACCUEIL ******************************************************************
**********************************************************************************/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  text-align: center;
}
.header__logo img {
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header__location {
  display: flex;
  justify-content: center;
  background-color: #ece9e9;
  border-top: solid #d4d1d1;
}
.header__location:hover {
  cursor: pointer;
}
.header__location .fas {
  padding: 15px;
  padding-left: 0;
}
.header__location p {
  font-size: 15px;
  font-weight: bold;
  color: #525050;
}

.presentation {
  text-align: center;
  background-color: #f8f6f6;
  padding-top: 20px;
  padding-bottom: 40px;
}
.presentation__title {
  font-size: 22px;
  padding: 0 60px;
}
.presentation__description {
  font-size: 18px;
  color: #525050;
}
.presentation button {
  height: 50px;
  padding: 0 20px;
  background: linear-gradient(-5deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: #d4d1d1 1px 3px 6px 3px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  border: none;
  transition: 0.5s;
  margin-top: 10px;
}
.presentation button:hover {
  background: linear-gradient(-5deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: #525050 1px 3px 6px 1px;
  cursor: pointer;
}

.functioning {
  padding: 30px 20px;
  padding-bottom: 50px;
}
.functioning__title {
  font-size: 22px;
}
.functioning__element {
  display: flex;
  margin: 20px 0;
  margin-top: 30px;
}
.functioning__element__number {
  margin: 20px 0;
  padding: 4px 7px;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
}
.functioning__element__details {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #f8f6f6;
  box-shadow: #d4d1d1 3px 4px 9px 2px;
  font-weight: bold;
}
.functioning__element__details:hover {
  background-color: white;
  cursor: pointer;
}
.functioning__element__details i {
  padding: 0 30px;
  font-size: 22px;
  color: #525050;
}
.functioning__element__details:hover > i {
  color: #9356DC;
}

.restaurant {
  background-color: #f8f6f6;
  padding-top: 30px;
}
.restaurant__title {
  font-size: 22px;
  padding-left: 20px;
  margin-bottom: 0;
}
.restaurant__bloc {
  padding: 20px;
}
.restaurant__bloc a {
  text-decoration: none;
  color: black;
}
.restaurant__bloc .restaurant__card {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  height: 240px;
  position: relative;
  box-shadow: #d4d1d1 3px 4px 9px 2px;
  margin-bottom: 20px;
}
.restaurant__bloc .restaurant__card .restaurant__card__image .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  height: 30px;
  width: 80px;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #0b916f;
}
.restaurant__bloc .restaurant__card .restaurant__card__image img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__bloc .restaurant__card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.restaurant__bloc .restaurant__card__description {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  padding-right: 20px;
  position: relative;
}
.restaurant__bloc .restaurant__card__description__details .nom {
  margin: 0;
  font-weight: bold;
}
.restaurant__bloc .restaurant__card__description__details .ville {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
}
.restaurant__bloc .restaurant__card__description .far {
  font-size: 22px;
  color: #525050;
  position: absolute;
  top: 20px;
  right: 20px;
}
.restaurant__bloc .restaurant__card__description .fas {
  position: absolute;
  top: 18.4px;
  right: 18.4px;
  font-size: 24px;
  color: transparent;
  transition: all 0.5s;
  opacity: 0;
}
.restaurant__bloc .restaurant__card__description .fas:hover {
  background-image: linear-gradient(-5deg, #FF79DA 50%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}

.footer {
  padding: 20px;
  font-size: 15px;
  background-color: #3b3a3a;
  color: white;
  margin-top: 20px;
  margin-bottom: 0;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
}
.footer__bloc {
  display: flex;
  margin: 15px 0;
}
.footer__bloc .Icone1 {
  margin-right: 13px;
}
.footer__bloc .Icone2 {
  margin-right: 8px;
}
.footer__bloc p {
  margin: 0;
}
.footer__mention, .footer__contact {
  margin: 10px 25px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer p:hover, .footer a:hover {
  color: #9356DC;
  cursor: pointer;
}

/* PAGE 2 ******************************************************************
**********************************************************************************/
.header2 {
  text-align: initial;
  z-index: 1;
  /*****************************/
}
.header2__logo2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header2__logo2 i {
  margin: 5px 20px;
  font-size: 18px;
  color: black;
}
.header2__logo2 i:hover {
  color: #9356DC;
}
.header2__logo2 .logo2 img {
  width: 160px;
  margin-left: 50px;
  text-align: center;
}
.header2__image img {
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: #f8f6f6;
  position: relative;
}
.menu__title {
  display: flex;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f8f6f6;
  position: absolute;
  width: 100%;
  top: -100px;
}
.menu__title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  margin-left: 20px;
  padding-top: 5px;
  margin-bottom: 36px;
}
.menu__title__icone .far {
  font-size: 22px;
  padding: 35px;
}
.menu__title__icone .fas {
  font-size: 24px;
  position: absolute;
  top: 34px;
  right: 33.6px;
  color: transparent;
  transition: all 0.5s;
  opacity: 0;
}
.menu__title__icone .fas:hover {
  background-image: linear-gradient(-5deg, #FF79DA 50%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}

.bloc__title {
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 10%;
  padding-bottom: 3px;
  font-weight: 100;
  border-bottom: #99E2D0 3px solid;
}
.bloc__card {
  border-radius: 15px;
  background-color: white;
  margin: 10px;
  padding: 15px 10px;
  box-shadow: #ece9e9 1px 6px 5px 1px;
  position: relative;
  /*  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
  overflow: hidden;
}
.bloc__card__title {
  font-weight: bold;
}
.bloc__card:hover {
  cursor: pointer;
}
.bloc__card:hover > .bloc__card__icone {
  transform: translateX(0%);
}
.bloc__card:hover > .bloc__card__description .price {
  transform: translateX(-220%);
}
.bloc__card:hover > .bloc__card__icone .far {
  transform: rotate(360deg);
}
.bloc__card__description {
  display: flex;
  justify-content: space-between;
}
.bloc__card__description p {
  margin: 0;
  padding-top: 5px;
  font-size: 15px;
}
.bloc__card__description .price {
  font-weight: bold;
  margin-right: 10px;
  transform: translateX(0%);
  transition: transform 0.8s ease;
}

.bloc__card__icone {
  position: absolute;
  background-color: #99E2D0;
  right: 0px;
  top: 0;
  height: 72px;
  width: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateX(100%);
  transition: transform 0.8s ease;
}
.bloc__card__icone .far {
  font-size: 25px;
  display: flex;
  justify-content: center;
  line-height: 72px;
  color: white;
  transform: rotate(0deg);
  transition: transform 0.8s ease;
}

.animation {
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#dish1 {
  animation-delay: 0.1s;
}

#dish2 {
  animation-delay: 0.2s;
}

#dish3 {
  animation-delay: 0.3s;
}

#dish4 {
  animation-delay: 0.4s;
}

#dish5 {
  animation-delay: 0.5s;
}

#dish6 {
  animation-delay: 0.6s;
}

#dish7 {
  animation-delay: 0.7s;
}

#dish8 {
  animation-delay: 0.8s;
}

#dish9 {
  animation-delay: 0.9s;
}

.bloc__title2 {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 10%;
  padding-bottom: 3px;
  font-weight: 100;
  border-bottom: #99E2D0 3px solid;
}

.menu__button {
  text-align: center;
  margin: 40px 0;
}
.menu__button button {
  width: 170px;
  height: 50px;
  padding: 0 20px;
  background: linear-gradient(-5deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: #d4d1d1 1px 3px 6px 3px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  border: none;
  transition: 0.5s;
}
.menu__button :hover {
  background: linear-gradient(-5deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: #525050 1px 3px 6px 1px;
  cursor: pointer;
}

/* PAGE 3 ******************************************************************
**********************************************************************************/
.header2__image img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.bloc__title3 {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 10%;
  padding-bottom: 3px;
  font-weight: 100;
  border-bottom: #99E2D0 3px solid;
}

/*# sourceMappingURL=style.css.map */
