@mixin gradient-button {
    height: 50px; 
    padding: 0 20px; 
    background: linear-gradient(-5deg, $color-primary 0%, $color-secondary 100%);
    box-shadow: $color-grey2 1px 3px 6px 3px ; 
    color: white;
    font-size: 15px;
    font-family: $font-secondary;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
}

@mixin button-hover {
    background: linear-gradient(-5deg, lighten($color-primary, 5%) 0%, lighten($color-secondary, 5%) 100%); 
    box-shadow: $color-grey4 1px 3px 6px 1px ; 
    cursor: pointer; 
}

@mixin title-bloc {
    margin-left: 20px;
    margin-bottom: 15px;
    width: 10%; 
    padding-bottom: 3px;
    font-weight: 100;
    border-bottom: $color-tiertiary 3px solid;
}

@mixin card {
    border-radius: 15px;
    background-color: white;
}

@mixin display {
    display : flex ; 
    justify-content : space-between ; 
}