
    .presentation {
        text-align: center;
        background-color: $color-grey3 ;
        padding-top: 20px;
        padding-bottom: 40px;
        &__title {
            font-size: 22px;
            padding: 0 60px;
        }
        &__description {
            font-size: 18px;
            color: $color-grey4 ;
        }
    }

    

    .functioning {
        padding: 30px 20px;
        padding-bottom: 50px;
        &__title {
            font-size: 22px; 
        }
        &__element {
            display: flex; 
            margin: 20px 0;
            margin-top: 30px;
            &__number {
                margin: 20px 0;
                padding: 4px 7px;
                font-size: 13px;
                color: white;
                background-color: $color-primary;
                border-radius: 50%;
                position: absolute;
            }
            &__details {
                display: flex;
                width: 100%;
                padding: 20px 0;
                border-radius: 20px;
                margin-left: 10px;
                background-color: $color-grey3 ;
                box-shadow: $shadow ;
                font-weight: bold;
                &:hover {
                    background-color: lighten($color-grey3, 5%) ;
                    cursor: pointer;
                }
                i {
                    padding: 0 30px;
                    font-size: 22px;
                    color: $color-grey4;
                }
                &:hover > i {
                    color: $color-primary;
                }
            }
        }
    }



    .restaurant {
        background-color: $color-grey3; 
        padding-top: 30px;
        &__title {
            font-size: 22px;
            padding-left: 20px;
            margin-bottom: 0;
        }
        &__bloc {
            padding: 20px;
            a {
                text-decoration: none;
                color: black;
            }
            .restaurant__card { 
                @include card ;
                width: 100%;
                height: 240px ;
                position: relative;
                box-shadow: $shadow ;
                margin-bottom: 20px;
                margin-top: 0;
                margin-left: 0;
                .restaurant__card__image {
                    .new {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        background-color: $color-tiertiary;
                        height: 30px;
                        width: 80px;
                        line-height: 30px;
                        text-align: center; 
                        font-size: 13px;
                        font-weight: bold;
                        color: #0b916f;
                    }
                    img {
                        width: 100%;
                        height: 170px;
                        object-fit: cover;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }
                &:hover {
                    transform: scale(1.05); 
                    transition: 0.5s;
                }
                &__description { 
                    @include display; 
                    padding: 10px 10px;
                    padding-right: 20px;
                    position: relative;
                    &__details {  
                        .nom {
                            margin: 0;
                            font-weight: bold;
                            font-size: 16px;
                        }
                        .ville {
                            margin: 0;
                            margin-top: 5px ;
                            font-size: 15px;
                        }
                    }
                        .far {
                            font-size: 22px; 
                            color :$color-grey4 ;
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            
                        }
                        .fas {
                            position: absolute;
                            top: 18.4px;
                            right: 18.4px;
                            font-size: 24px;
                            color: transparent;
                            transition: all 0.5s;
                            opacity: 0;
                        }
                        .fas:hover { 
                            background-image: linear-gradient(-5deg, $color-secondary 50%, $color-primary 100%); 
                            background-clip: text;
                            -webkit-background-clip: text;
                            opacity: 1;
                        }
                }
            }
        }    
    }